.fondPizzq {
  width: 100%;
  position: relative;
}
.fondPizzq .PizzaFondImg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fondPizzq .assombrissement {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
}
.fondPizzq .assombrissement h1 {
  font-family: "Kalam", cursive;
  font-size: 4rem;
  text-align: center;
}
.fondPizzq .assombrissement h4 {
  font-size: 50px;
  color: white;
  margin-bottom: 125px;
  margin-top: 20px;
}
.fondPizzq .assombrissement p {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

section:nth-child(1) {
  color: #e0ffff;
}

section:nth-child(2) {
  color: #edefef;
  background-image: url(../img/bois3.jpg);
}

section:nth-child(3) {
  color: #e0ffff;
}

section:nth-child(4) {
  color: #42455a;
  background: #e0ffff;
}

section .container {
  margin-top: 100px;
  margin-bottom: 170px;
}

section h2 {
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

section .text-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 0 36px;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.card-container {
  font-family: "Poppins", sans serif;
  font-size: 120px;
  font-weight: bold;
  width: 100%;
  margin: 80px 0;
  border-radius: 10px;
  perspective: 1400px;
}

.card {
  position: relative;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  transform-style: preserve-3d;
}

.card2 {
  position: relative;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  transform-style: preserve-3d;
}

.card3 {
  position: relative;
  height: 100%;
  border-radius: 10px;
  width: 100%;
  transform-style: preserve-3d;
}

.front,
.back {
  display: flex;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.front {
  color: #fff;
  background: #2196f3;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  justify-items: center;
  transform: rotateY(180deg);
  color: #CD1818;
  background: #D7C0AE;
}

.pizzaR {
  display: flex;
  width: inherit;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  cursor: pointer;
}

.pizzaPetite {
  width: 100%;
  cursor: pointer;
}

.carte img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.carte p {
  font-size: 25px;
  padding: 17px;
  color: #edefef;
  font-family: "Great Vibes", cursive;
  font-weight: 200;
}

.clickd {
  text-align: center;
  font-size: 18px;
  color: rgb(189, 189, 189);
}

.flexCard {
  display: flex;
  align-items: center;
  background: #675D50;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
  width: 80%;
}
.flexCard img {
  width: 50%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
}
.flexCard .titleTextCard {
  font-family: "Kalam", cursive;
  width: 100%;
}
.flexCard .titleTextCard h3 {
  font-size: 50px;
  text-align: center;
}
.flexCard .titleTextCard p {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  padding: 0 20px;
}

#present {
  background: #313131;
  padding: 70px;
}
#present .leftCard {
  display: grid;
  justify-items: left;
  color: #F0EDD4;
}
#present .rightCard {
  display: grid;
  color: #F0EDD4;
  justify-items: right;
}
#present .rightCard img {
  width: 50%;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 100%;
}

.grid {
  display: grid;
  gap: 50px;
}

#menu {
  position: relative;
  width: 100%;
}
#menu .fondtree {
  position: absolute;
  width: 100%;
}
#menu .assombrissement {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-content: center;
}

.divMenu {
  position: relative;
  bottom: 355px;
}

carousel {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 6vmin;
}
carousel input {
  display: none;
}
carousel page {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: scale(0);
}
carousel page div {
  display: flex;
  justify-content: center;
}
carousel page div .carouGrid {
  display: grid;
  justify-items: center;
  width: fit-content;
  background-color: #D7C0AE;
  border-radius: 20px;
  color: white;
  font-family: "Great Vibes", cursive;
}
carousel page div .carouGrid img {
  width: 500px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
carousel page div .carouGrid span {
  font-size: 40px;
  margin-top: 20px;
}
carousel page div .carouGrid .Ingre {
  font-size: 30px;
  font-family: "Great Vibes", cursive;
}
carousel page div .carouGrid h5 {
  margin-top: 10px;
  color: #CD1818;
}
carousel page label {
  cursor: pointer;
  padding-top: 40px;
}
carousel page label b {
  color: white;
  background: #675D50;
  border: 1px solid #675D50;
  font-family: "Poppins", cursive;
  padding: 5px 30px;
  border-radius: 20px;
  transition: 300ms;
  font-size: 30px;
}
carousel page label b:hover {
  background: #313131;
  border: white;
}
carousel #page1cb:checked ~ #page1 {
  transform: scale(1);
}
carousel #page2cb:checked ~ #page2 {
  transform: scale(1);
}
carousel #page3cb:checked ~ #page3 {
  transform: scale(1);
}
carousel #page4cb:checked ~ #page4 {
  transform: scale(1);
}
carousel #page5cb:checked ~ #page5 {
  transform: scale(1);
}
carousel #page6cb:checked ~ #page6 {
  transform: scale(1);
}

@media (max-width: 500px) {
  carousel page div .carouGrid {
    margin: 20px;
  }
}
footer {
  background: black;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
footer div {
  display: grid;
  justify-items: center;
}
footer .map {
  display: grid;
  justify-items: center;
  gap: 50px;
}
footer .map .internMap {
  width: 100%;
}
footer .map .internMap iframe {
  border-radius: 20px;
}
footer .textcontact {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .textcontact h4 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
}
footer .textcontact i {
  font-size: 35px;
  margin: 20px 0;
  color: #675D50;
}
footer .textcontact a {
  color: white;
  font-size: 20px;
}
footer .textcontact a:hover {
  color: #313131;
}

@media (max-width: 990px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
body {
  background: #42455a;
  font-family: "Poppins", sans-serif;
}

#scrollUp {
  position: fixed;
  bottom: 10px;
  right: -100px;
  opacity: 1;
  z-index: 10;
}

@media (max-width: 980px) {
  section .text-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .pizzaR {
    width: 400px;
  }
  .flexCard {
    width: 100%;
  }
  .flexCard .titleTextCard h3 {
    font-size: 35px;
  }
  .flexCard .titleTextCard p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .flexCard img {
    display: none;
  }
  .flexCard .titleTextCard {
    padding: 57px;
  }
}
@media (max-width: 425px) {
  #present {
    background: #313131;
    padding: 25px;
  }
  .flexCard .titleTextCard {
    padding: 15px;
  }
}
@media (max-width: 350px) {
  .carte p {
    padding: 10px;
  }
}

/*# sourceMappingURL=indexx.css.map */
