section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
section:nth-child(1){
  color: #e0ffff;
}
section:nth-child(2){
  color: #edefef;
  background-image: url(../img/bois3.jpg);
}
section:nth-child(3){
  color: #e0ffff;
}
section:nth-child(4){
  color: #42455a;
  background: #e0ffff;
}
section .container{
  margin-top: 100px;
  margin-bottom: 170px;
}
section h2{
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
section .text-container{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 0 36px
}

section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}